<%- contentFor("body")  %>
Authenticated!
<div id="map"></div>

<form action="/logout" method="POST">
  <input type="submit" value="logout">
</form>

  <span
  id="sessionToken"
  value="<%- user.sessionToken %>"
  style="display: none">
  </span>

  <span
  id="username"
  value="<%- user.username %>"
  style="display: none">
  </span>

  <span
  id="profileText"
  value="<%- user.profileText %>"
  style="display: none">
  </span>

<form id="profileForm" action="#">
  <textarea cols="30" rows="10"></textarea>
</form>

<span
  id="profileSaved"
  style="display: none">
Saved
</span>

<%- contentFor("head")  %>
<style>
  #map {
    width: 500px;
    height: 500px;
  }
</style>


<%- contentFor("scripts")  %>

<script>
    window.map;
    window.mapHelpers = {}

    mapHelpers.onMarkerClicked = function(marker) {
      var username = marker.marker.title
      var profileText = marker.profileText
    }
    
    mapHelpers.appendToMap = function(markers, user) {
      var marker =  new google.maps.Marker({
        position: { lat: user.latitude, lng: user.longitude },
        map: map,
        title: user.username
      })
      markers[user.username] = { marker: marker, profileText: profileText }
      markers[user.username].marker.setMap(map)
      markers[user.username].marker.addListener(
        'click', curry(mapHelpers.onMarkerClicked, markers[user.username].marker)
      );
      return markers
    }


    mapHelpers.removeFromMap = function(markers, user) {
      google.maps.event.clearListeners(markers[user.username].marker, 'click');
      markers[user.username].marker.setMap(null)
      markers[user.username].marker = null
      delete markers[user.username]
      return markers
    }

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -34.397, lng: 150.644},
        zoom: 1
      });
      $(pageReady(map, mapHelpers))
    }


</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%- process.env.GoogleApiKey %>&callback=initMap">
</script>

