<%- contentFor("body")  %>
Authenticated!
<div id="map"></div>

<form action="/logout" method="POST">
  <input type="submit" value="logout">
</form>

  <span
  id="sessionToken"
  value="<%- user.sessionToken %>"
  style="display: none">
  </span>

  <span
  id="username"
  value="<%- user.username %>"
  style="display: none; visibility: hidden;">
  </span>

<br>

<form id="profileForm" action="#">
  <textarea cols="30" rows="10">
    <%- user.profileText  %>
  </textarea>
</form>

<span
  id="profileBox">
</span>

<span
  id="profileSaved"
  style="display: none">
Saved
</span>

<%- contentFor("head")  %>
<style>
  #map {
    width: 500px;
    height: 500px;
  }
</style>


<%- contentFor("scripts")  %>

<script>
    window.map;
    window.mapHelpers = {}
    var $profileBox = $("#profileBox")

    mapHelpers.userId = function(user) {
      return user.username.replace(" ", "-")
    }

    mapHelpers.userBox = function(user) {
      return $("div[attr-user='" + mapHelpers.userId(user) + "']")
    }
    
    mapHelpers.newProfileBox = function(user) {
      var $box = $("<div attr-user='" + mapHelpers.userId(user) + "'></div>")
      $box.append(
        $("<span class='username'></span>").text(user.username)
      ).append($("<br>"))
      $box.append(
        $("<span class='profileText'></span>").text(user.profileText)
      ).append($("<br>"))
      return $box
    }

    mapHelpers.onMarkerClicked = function() {
      var markerObj = this.markerObj
      var username = markerObj.marker.title
      var profileText = markerObj.profileText
      var user = {
        username: username,
        profileText: profileText
      }
      if (username && profileText) {
        $profileBox.html(mapHelpers.newProfileBox(user))
      }
    }
    
    mapHelpers.appendToMap = function(markers, user) {
      var marker =  new google.maps.Marker({
        position: { lat: user.latitude, lng: user.longitude },
        map: map,
        title: user.username
      })
      markers[user.username] = { marker: marker, profileText: user.profileText }
      markers[user.username].marker.setMap(map)
      markers[user.username].marker.addListener(
        'click', mapHelpers.onMarkerClicked.bind({
            markerObj: markers[user.username]
          })
      )
      return markers
    }


    mapHelpers.removeFromMap = function(markers, user) {
      google.maps.event.clearListeners(markers[user.username].marker, 'click');
      markers[user.username].marker.setMap(null)
      markers[user.username].marker = null
      delete markers[user.username]
      return markers
    }

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -34.397, lng: 150.644},
        zoom: 1
      });
      $(pageReady(map, mapHelpers))
    }


</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%- process.env.GoogleApiKey %>&callback=initMap">
</script>

